
body {
	background-image: -webkit-radial-gradient(white, pink);
	margin: 0;
	font-family: helvetica, arial;
	color: rgba(0,0,0,0.8);
	text-shadow: rgba(0,0,0,0.6) 2px 2px 2px, white -1px -1px 1px;

}

#app {
	width: 800px;
	margin: 60px auto;
}

 #numpad {
	font-size: 80px;

}
#question, #entry {
	font-size: 120px;
}

#question {
	width: 600px;
	float: left;
}

#entry {
	width: 200px;
	float: left;
	text-align: right;
	font-weight: bold;
}

.clear {
	clear: both;
}

.number {
	font-weight: bold;
}

#numpad {
	text-align: center;
	margin-top: 80px;
	font-weight: bold;
}
.numpad-item {
	width: 48px;
	text-align: center;
	margin: 8px;
	padding: 8px;
	font-size: 60px;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.6);
}

.incorrect {
	color: red;
}

.correct {
	color: green;
}

#intro, #victory {
	font-size: 70px;
	text-align: center;
}

#score {
	margin: 80px auto;

}

.point {
	width: 80px;
	margin: 10px;
	height: 80px;
	border-radius: 1000px;
	background-color: rgba(0,0,0,0.15);
	float: left;
}

.point.scored {
	background-color: green;
}
